/* 1200px */
@media (max-width: 75em) {
  .hero {
    gap: 0;
  }
}

/* 1120 */
@media (max-width: 70em) {
  .hero__heading--primary {
    font-size: 6rem;
    margin-bottom: 3rem;
  }
  .btn--more {
    font-size: 1.6rem;
    padding: 1.4rem 2.2rem;
  }
}

/* 1024px */
@media (max-width: 64em) {
  /* .hero__heading--primary {
    font-size: 3.8rem;
  } */

  /* .hero__description {
    max-width: 100%;
  } */

  .logos-featured {
    margin-top: 8rem;
  }
  /* ///////// */

  /* //////////////// */

  .hero__description {
    margin-bottom: 3.5rem;
  }

  .hero__heading--primary {
    margin-bottom: 1.5rem;
  }
}

/* 960px */
@media (max-width: 60em) {
  .hero__heading--primary {
    font-size: 5rem;
  }
  .hero__description {
    font-size: 1.6rem;
  }
  .logos-featured img {
    width: 8rem;
  }
}

/* 900px */
@media (max-width: 56.25em) {
  /* .section-hero {
    max-width: 80rem;
  } */
  .header {
    margin: 2.5rem 2.8rem 1.8rem;
  }

  .dropdown__list {
    box-shadow: none;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 2rem 12rem;
  }
  .hero__text--box {
    text-align: center;
    margin-top: 7rem;
  }

  .logos-featured {
    justify-content: center;
    /* margin: 0 auto; */
  }

  .hero-img-box {
    margin-left: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .hero__description {
    max-width: 100%;
  }
  br {
    display: none;
  }

  .hero-img-desktop {
    display: none;
  }

  .hero-img-mobile {
    display: flex;
    width: 100%;
  }
  .hero-img-box {
  }
  /* MOBILE NAVIGATIOn */
  .btn-mobile-nav {
    /* display: block; */
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  .btn-mobile-nav__icon--open {
    display: block;
  }

  .menu-nav {
    /* display: flex;
    align-items: flex-start; */
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    right: 0;
    width: 63%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
    transform: translateX(100%);
    transition: all 0.16s ease-out;

    /* HIDE NAVIGATION */
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .menu-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .btn-mobile-nav__icon--open {
    display: none;
  }
  .nav-open .btn-mobile-nav__icon--close {
    display: block;
  }
  .menu-nav__list {
    flex-direction: column;
    font-size: 1.7rem;
    margin: 6rem 0 2.5rem 0;
    gap: 0;
    width: 17rem;
  }

  .menu-nav__link {
    padding: 0.8rem 0 1.5rem 0;
  }

  .dropdown__list {
    padding: 0.8rem 2rem;
  }

  .dropdown__item:not(:last-child) {
    margin-bottom: 1.3rem;
  }
  /* .dropdown__list--features {
    left: 0;
    right: auto;
  } */
  .btn-box {
    flex-direction: column;
    margin-left: 0;
  }

  .btn__register {
    margin-left: 0;
    padding: 1.2rem 5.8rem;
  }
  .btn {
    font-size: 1.5rem;
  }

  .btn__login {
    margin-bottom: 2rem;
  }
}

/* 500px */
@media (max-width: 31.25em) {
  .header {
    margin: 2.5rem 2.8rem 1.8rem;
  }

  .hero {
    padding: 0 0 12rem;
  }
  .hero__heading--primary {
    font-size: 3.7rem;
  }

  .hero__text--box {
    margin: 4rem 2rem 0;
  }
  .hero__description {
    margin-bottom: 4.3rem;
  }
  .logos-featured {
    gap: 2.2rem;
    margin-top: 6rem;
  }

  .logos-featured > img:nth-child(2) {
    width: 5rem;
  }
  .logos-featured > img:nth-child(3) {
    width: 6rem;
  }
  .logos-featured > img:nth-child(4) {
    width: 6rem;
  }
}
